/* General reset */

/* Typography */
/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

/* Styling for the embed-container */
.embed-container {
position: relative;
  width: 100%;
  max-width: 800px; /* Set the maximum width for the embedded element */
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  margin: 20px auto; /* Add auto margin to center the element */
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

/* Position the iframe and object elements within the embed-container */
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Set the width and height of the PDF container */
.pdf-container {
  width: 100%;
  height: 100vh;
}

/* Hide the default PDF viewer controls */
.pdf-viewer {
  display: none;
}

/* Show an error message if the PDF cannot be loaded */
.pdf-error {
  display: none;
  color: red;
}

/* Show a loading spinner while the PDF is loading */
.pdf-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
code{white-space: pre-wrap;}
  span.smallcaps{font-variant: small-caps;}
  span.underline{text-decoration: underline;}
  div.column{display: inline-block; vertical-align: top; width: 50%;}
  div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
  ul.task-list{list-style: none;}
  
code{white-space: pre;}
hr {
  border-color: rgba(95, 69, 84, 0.2);
  width: 87%;
  margin: 5px; 
  margin-top: 20px;
  margin-bottom: 20px;


}

body {
  background-color: ##f7f7f7;
  font-family: Arial, sans-serif;
  color: #30362F;
}


h1, h2, h3, h4, h5, h6 {
  color: #5F4554;
  margin-bottom: 1.5rem;
}


a {
  color:#B8C0AF ;
  text-decoration: none;
}

a:hover {
  color: #5F4554;
}

.main-text{
  color: #30362F;
}

p {
  margin-bottom: 1.5rem;
}

p2 {
  color:black;
  font-size: 11px;

}

p3 {
  color:#8E936D;
  font-size: 11px;

}


ul {
  list-style-type: disc;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.5;
}

li {
  margin-bottom: 10px;
}


/* Form Elements and Input Styles */

input[type="text"], input[type="email"], input[type="password"], textarea {
  background-color: #30362F;
  color: #30362F;
  border: 1px solid #30362F;
  padding: 5px 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #5F4554;
}



/* Containers and Layout */

.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width:100%;
}
.tabbed-pane {
  padding-top: 12px;
}
.html-widget {
  margin-bottom: 20px;
}
button.code-folding-btn:focus {
  outline: none;
}
summary {
  display: list-item;
}
details > summary > p:only-child {
  display: inline;
}
pre code {
  padding: 0;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #adb5bd;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color:#30362F;
  background-color:#f7f7f7;
  border: 1px solid #ddd;
}

  .slideshow-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Adjust this value depending on the aspect ratio of your slideshow */
    overflow: hidden;
  }

  .slideshow-object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


/* Navigation */


.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

/* Buttons */


button {
  background-color: #30362F;
  color: #f7f7f7;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #5F4554;
}




/* Images */


img {
  max-width: 100%;
  /* Remove or adjust the height property as needed */
  height: auto;
}

.image-container {
            display: flex;
  justify-content: center;
  align-items: center;
        }
.image-container2 {
    display: flex;
justify-content: center;
align-items: center;
}
.image-zoom {
    display: block;
    width: 75%;
    max-width: 100%;
    transition: transform .1s;
}

.image-zoom2 {
    display: block;
    width: 25%;
    max-width: 100%;
    transition: transform .1s;
}
.image-container:hover .image-zoom {
    transform: scale(1.5);
    cursor: crosshair;
}
.image-container2:hover .image-zoom2 {
    transform: scale(1.5);
    cursor: crosshair;
}

/* iFrames */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
/* Media Queries */

/* Media Queries for Responsive Design */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav ul {
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

}

/* Extra Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
h1 {
font-size: 3.5rem;
}

p {
font-size: 1.3rem;
}

nav a {
font-size: 1.4rem;
}
}

/* Miscellaneous and other elements */


.collapsible-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
  }
.collapsible {
  background-color: #f7f7f7;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: #777;
  text-align: left;
  outline: #777;
  font-size: 14px;
  transition: 0.4s;
  font-weight: bold;
}

.active, .collapsible:hover {
  background-color: rgba(95, 69, 84, 0.3);
}

.collapsible:after {
  content: '\002B';
  color:rgba(95, 69, 84, 0.3);;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.custom-header {
    background-color: #f7f7f7;
    color: #5F4554;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-bottom: 20px;
  }
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color:#30362F;
  background-color:#f7f7f7;
  border: 1px solid #ddd;
}

