/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

hr {
  border-color: rgba(95, 69, 84, 0.2);
  width: 87%;
  margin: 5px; 
  margin-top: 20px;
  margin-bottom: 20px;


}

body {
  background-color: ##f7f7f7;
  font-family: Arial, sans-serif;
  color: #30362F;
}


h1, h2, h3, h4, h5, h6 {
  color: #5F4554;
  margin-bottom: 1.5rem;
}


a {
  color:#B8C0AF ;
  text-decoration: none;
}

a:hover {
  color: #5F4554;
}

.main-text{
  color: #30362F;
}

p {
  margin-bottom: 1.5rem;
}

p2 {
  color:black;
  font-size: 11px;

}

p3 {
  color:#8E936D;
  font-size: 11px;

}


ul {
  list-style-type: disc;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.5;
}

li {
  margin-bottom: 10px;
}


/* Form Elements and Input Styles */

input[type="text"], input[type="email"], input[type="password"], textarea {
  background-color: #30362F;
  color: #30362F;
  border: 1px solid #30362F;
  padding: 5px 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #5F4554;
}



/* Containers and Layout */


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color:#30362F;
  background-color:#f7f7f7;
  border: 1px solid #ddd;
}



.container {
  margin-right: 50px;
}

/* Navigation */


.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

/* Buttons */


button {
  background-color: #30362F;
  color: #f7f7f7;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #5F4554;
}




/* Images */


img {
  max-width: 100%;
  height: 200px;
}

.image-container {
            display: flex;
  justify-content: center;
  align-items: center;
        }
.image-container2 {
    display: flex;
justify-content: center;
align-items: center;
}
.image-zoom {
    display: block;
    width: 75%;
    max-width: 100%;
    transition: transform .1s;
}

.image-zoom2 {
    display: block;
    width: 25%;
    max-width: 100%;
    transition: transform .1s;
}
.image-container:hover .image-zoom {
    transform: scale(1.5);
    cursor: crosshair;
}
.image-container2:hover .image-zoom2 {
    transform: scale(1.5);
    cursor: crosshair;
}

/* iFrames */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    margin: auto;
}
/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your CSS rules for extra small devices */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your CSS rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your CSS rules for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your CSS rules for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your CSS rules for extra large devices */
}


/* Miscellaneous and other elements */
.custom-class {
  background-color: #f1f1f1;
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
}

.collapsible-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
  }
.collapsible {
  background-color: #f7f7f7;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: #777;
  text-align: left;
  outline: #777;
  font-size: 14px;
  transition: 0.4s;
  font-weight: bold;
}

.active, .collapsible:hover {
  background-color: rgba(95, 69, 84, 0.3);
}

.collapsible:after {
  content: '\002B';
  color:rgba(95, 69, 84, 0.3);;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.custom-header {
    background-color: #f7f7f7;
    color: #5F4554;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-bottom: 20px;
  }
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color:#30362F;
  background-color:#f7f7f7;
  border: 1px solid #ddd;
}